SignalRClientWPF/SignalRClientWPF/bin
SignalRClientWPF/SignalRClientWPF/obj
SignalRServerConsole/MSExampleSignalR/obj
SignalRServerConsole/MSExampleSignalR/bin
SignalRClientWPF/SignalRClientWPF.v12.suo
SignalRServerConsole/SignalRMessaging.v12.suo
